.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
}

.logo {
  width: 150px;
}
